.container{
    width: 1200px;
    margin: 40px auto;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 5px solid #000;
}
.header{
    display: flex;
    justify-content: space-around;
}
.headerlist {
    font-size: 32px;
}